.navbar-header, .navbar-collapse{
  background-color: #0082c4;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color: #0082c4;
}

.navbar-collapse.collapse.in{
  overflow: visible;
}

#login-dropdown-list {
  position: relative;
}

@media (min-width: 768px){

}

@media (max-width: 767px){

}

